*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --background-color:#000000;
    --font-color:#ffffff;
    --keypad-top: #979797;
    --keypad-font-color-top: #000000;
    --keypad-side-color: #da7619;
    --keypad-main-color: rgb(71, 71, 71);
    --shadow-color: #D3D3D3;
}

.main{
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}
.screen{
    width: 100%;
    height: 40%;
    font-size: 70px;
    display: flex;
    align-items:end;
    justify-content: right;
    padding-right: 15px;
    color: var(--font-color);
}
.keypad{
    width: 100%;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px;
    padding: 5px;
}
.key{
    border-radius: 50%;
    margin: 5px;
    font-size: 40px;
    font-weight:500;
    border: none;
    background-color: var(--keypad-main-color);
    color: var(--font-color);
}

.key:hover{
    background-color: #86868657;
}

.top{
    background-color: var(--keypad-top);
    color: var(--keypad-font-color-topfont-color-top);
}
.special{
    grid-column: span 2;
    padding-left: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.side{
    background-color: var(--keypad-side-color);
}

.sidebar {
    position: absolute;
    top: 0;
    left: -60%;
    width: 60%;
    height: 43%;
    background-color: var(--keypad-main-color);
    transition: .25s;
    padding-top: 15%;
    z-index: 1;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.sidebar h6{
    color: var(--font-color);
    transform: translateY(180px);
}
.sidebar-active {
    left: 0;
    box-shadow: 1px 1px 8px var(--shadow-color);
}

.hamburger {
    width: 35px;
    height: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    z-index: 2;
    margin: 10px;
}
.hamburger span {
    width: 100%;
    height: 6%;
    background-color: var(--font-color);
    transition: .25s;
}
.hamburger-active :nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}
.hamburger-active :nth-child(2) {
    opacity: 0;
}
.hamburger-active :nth-child(3) {
    position: absolute;
    transform: rotate(-45deg);
}

.sidebar .theme{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: var(--font-color);
}
.theme .light{
    background-color: #fff;
    height: 40px; 
    width: 120px; 
    font-size: 16px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    border: 1px solid black;
}
.theme .dark{
    background-color: #000000;
    color: #fff;
    height: 40px; 
    width: 120px; 
    font-size: 16px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid white; 
}


